
/* pocetna sekcija */
.section__title--2 h2 {
    color: #313131;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
}
.section__title--2 p {
    color: #333;
    font-size: 18px;
    margin-top: 23px;
}

.section__title {
    position: relative;
    padding-left: 24px;
}

.section__title h2 {
    color: #313131;
    font-size: 40px;
    text-transform: capitalize;
}
.section__title p {
    color: #7d7d7d;
    font-size: 18px;
    margin-top: 4px;
    text-transform: capitalize;
}
.section__title.text-center::before {
    left: 41%;
}

.title__border {
    position: relative;
}
.title__border::before {
    background: #ebebeb none repeat scroll 0 0;
    content: "";
    height: 3px;
    position: absolute;
    right: 10%;
    top: 50%;

    width: 63%;
}

.section__title__with__cat__link .title__border::before {
    right: 4%;
    width: 63%;
}

.section__title__with__cat__link {
    display: flex;
    justify-content: space-between;
}
.ht__gocat__link {
    margin-top: 10px;
}
.section__title__with__cat__link  .section__title {
    width: 88%;
}
.ht__gocat__link a {
    color: #c43b68;
    font-size: 18px;
    font-weight: 700;
    transition: 0.3s;
}
.ht__gocat__link a:hover{
    color: #000;
}



/* stilovi za detalje svakog proizvoda na glavnoj stranici */

.cat__hover__inner::before {
    background: rgba(0, 0, 0, 0) url("images/others/shape/4.png") repeat scroll 0 0 / cover ;
    bottom: 0;
    content: "";
    height: 160px;
    left: 0;
    position: absolute;
    width: 5px;
    z-index: 2;
}

.category {
    position: relative;
    margin-top: 40px;
}
.fr__hover__info {
    position: absolute;
    right: 20px;
    top: 20px;
}
.fr__product__inner {
    padding-top: 23px;
    text-align: center;
}
.fr__product__inner h4 a {
    color: #444;
    font-family: Old Standard TT;
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
}
.fr__product__inner h4 a:hover{
    color: #0a1399;
}
.fr__pro__prize {
    display: flex;
    justify-content: center;
    margin-top: 6px;
}
.fr__pro__prize li {
    color: #313131;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    margin: 0 5px;
}
.fr__pro__prize li.old__prize {
    color: #888888;
}



/* stilovi za product.php */
.htc__good__sale {
    padding: 140px 0;
}
.htc__good__sale .row {
    align-items: center;
    display: flex;
}

.fr__prize__inner h2 {
    color: #494949;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 30px;
    padding-right: 10%;
}
.fr__prize__inner h3 {
    color: #494949;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 38px;
}
.fr__btn {
    background: #0017e6 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-family: Poppins;
    font-size: 15px;
    height: 50px;
    line-height: 50px;
    padding: 0 36px;
    transition: 0.3s;
	margin-top:20px;
}

.fr__btn:hover {
    background: #222222 none repeat scroll 0 0;
    color: #fff;
}


/* detalji proizvoda */

.pro__single__content.tab-pane:not(.active) {
    display: none;
}

.product__small__images {
    bottom: 35px;
    display: flex;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}
.htc__product__details__tab__content {
    position: relative;
}
.product__small__images li {
    border: 1px solid #fff;
    margin: 0 8px;
    transition: all 0.4s ease 0s;
}
.product__small__images li.active {
    border: 1px solid #0a1399;
}
.product__small__images li:hover {
    border: 1px solid #0a1399;
}
.ht__product__dtl h2 {
    color: #444;
    font-family: Old Standard TT;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.ht__product__dtl h6 {
    color: #100d13;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 11px;
    margin-bottom: 11px;
}
.ht__product__dtl h6 span {
    color: #868686;
    font-family: 'Old Standard TT', serif;
    font-size: 15px;
    text-transform: uppercase;
}
.ht__product__dtl .pro__prize {
    justify-content: flex-start;
}
.ht__product__dtl p {
    color: #666666;
    font-size: 16px;
    line-height: 26px;
    margin-top: 12px;
}
.sin__desc p {
    color: #868686;
    display: inline-block;
    font-family: 'Old Standard TT', serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0;
}
.sin__desc p span {
    color: #100d13;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-transform: capitalize;
}
.pro__color {
    display: flex;
    margin-left: 10px;
}
.sin__desc.align--left {
    align-items: center;
    display: flex;
    margin-top: 21px;
}
.pro__color li a {
    background: #000 none repeat scroll 0 0;
    display: inline-block;
    height: 20px;
    text-indent: -999999px;
    width: 20px;
}
.pro__color li + li {
    margin-left: 10px;
}
.pro__more__btn {
    margin-left: 10px;
}
.pro__more__btn a {
    border: 1px solid #d7d7d7;
    color: #212121;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 600;
    height: 20px;
    line-height: 19px;
    padding: 0 8px;
    text-transform: uppercase;
}
.ht__pro__desc {
    margin-top: 25px;
}

.pro__cat__list {
    display: flex;
    margin-left: 10px;
}
.pro__share {
    display: flex;
    margin-top: 16px;
}

.pro__color li.red a {
    background: #003471 none repeat scroll 0 0;
}
.pro__color li.green a {
    background: #754c24 none repeat scroll 0 0;
}
.pro__color li.balck a {
    background: #100d13 none repeat scroll 0 0;
}
.pro__cat__list li a {
    color: #666666;
    font-size: 16px;
    transition: 0.3s;
}
.pro__cat__list li a:hover{
    color: #0a1399;
}
.pro__cat__list li + li {
    padding-left: 7px;
}
.pro__share li a {
    border-radius: 100%;
    color: #212121;
    display: inline-block;
    font-size: 16px;
    height: 32px;
    line-height: 36px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 32px;
}
.pro__share li a:hover {
    background: #0a1399 none repeat scroll 0 0;
    color: #fff;
}
.pro__share li + li {
    margin-left: 9px;
}
.sin__desc.product__share__link {
    margin-top: 18px;
}

.sin__desc.product__share__link {
    margin-top: 18px;
}
.pro__details__tab {
    align-items: center;
    border-color: #e1e1e1;
    border-style: solid;
    border-width: 1px;
    display: flex;
    margin-bottom: 28px;
}
.pro__details__tab li {
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}
.pro__details__tab li a {
    color: #9f9f9f;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
}
.pro__details__tab li + li {
    border-left: 1px solid #e1e1e1;
}
.pro__details__tab li:last-child {
    border-right: 1px solid #e1e1e1;
}
.pro__details__tab li.active a {
    color: #333333;
}
.pro__details__tab li a:hover {
    color: #333333;
}
.pro__tab__content__inner p {
    color: #666666;
    font-size: 16px;
    line-height: 26px;
}
.pro__tab__content__inner h4.ht__pro__title {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 17px;
    margin-top: 30px;
    text-transform: capitalize;
}
.pro__tab__content__inner p + p {
    margin-top: 32px;
}
.ht__pro__details__content {
    padding-bottom: 90px;
}
select.select__size {
    border: 1px solid #afafaf;
    color: #afafaf;
    height: 20px;
    margin-left: 10px;
    width: 41px;
    padding: 0 4px;
}

select.select__size {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    background: rgba(0, 0, 0, 0) url("images/icons/select-option.png") no-repeat scroll 87% 7px / 10px 5px;
    padding-right: 16px;
}







/* stilovi za korpu */






.cart-title-area{
    padding-top: 30px;
}
.car-header-title h2{
    font-size: 20px;
    margin: 0;
    text-transform: uppercase;
}
.table-content table{
    background: #fff none repeat scroll 0 0;
    border-color: #c1c1c1;
    border-radius: 0;
    border-style: solid;
    border-width: 1px 0 0 1px;
    margin: 0 0 50px;
    text-align: center;
    width: 100%;
}
.table-content table th {
    border-top: medium none;
    padding: 20px 10px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-weight: 600;
    font-size: 16px;
}
.table-content table th,.table-content table td{
    border-bottom: 1px solid #c1c1c1;
    border-right: 1px solid #c1c1c1;
}
.table-content table td{
    border-top: medium none;
    padding: 20px 10px;
    vertical-align: middle;font-size: 13px;
}
.table-content table td input{
    background: #e5e5e5 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #6f6f6f;
    font-size: 15px;
    font-weight: normal;
    height: 40px;
    padding: 0 5px 0 10px;
    width: 60px;
}
.table-content table td.product-subtotal {
    color: #313131;
    font-size: 14px;
    width: 120px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.table-content table td.product-name a {
    color: #444;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}
.table-content table td.product-name{
    width: 270px;
}
.table-content table td.product-thumbnail{
    width: 130px;
}
.table-content table td.product-remove i {
    color: #212121;
    display: inline-block;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
}
.table-content table .product-price .amount {
    color: #313131;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-weight: 600;
}
.table-content table td.product-remove i:hover {
    color: #ee393e;
}
.table-content table td.product-quantity{
    width: 180px;
}
.table-content table td.product-remove{
    width: 150px;
}
.table-content table td.product-price{
    width: 130px;
}
.table-content table td.product-name a:hover,.buttons-cart a:hover{
    color: #c43b68
}
.buttons-cart a {
    background: #ebebeb none repeat scroll 0 0;
    color: #3f3f3f;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    height: 62px;
    line-height: 62px;
    padding: 0 45px;
    text-transform: uppercase;
    display: inline-block;
}
.buttons-cart input,
.coupon input[type="submit"],
.coupon-info p.form-row input[type="submit"] {
    background: #252525 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 12px;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    margin-right: 15px;
    padding: 0 15px;
    text-shadow: none;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
}
.buttons-cart input:hover,
.coupon input[type=submit]:hover,
.buttons-cart a:hover{
    background:#212121;
    color:#fff !important;
}
.buttons-cart--inner {
    display: flex;
    justify-content: space-between;
}
.buttons-cart a + a {
    margin-left: 20px;
}
.coupon {
    margin-bottom: 40px;
    overflow: hidden;
    padding-bottom: 20px;
}
.coupon h3{
    margin: 0 0 10px;font-size: 14px;
    text-transform: uppercase;
}
.coupon input[type=text]{
    border: 1px solid #c1c1c1;
    float: left;
    height: 40px;
    margin: 0 6px 20px 0;
    max-width: 100%;
    padding: 0 0 0 10px;
    width: 170px;
}
.cart_totals{
    float: left;
    text-align: right;
    width: 100%;
}
.cart_totals h2{
    border-bottom: 2px solid #c1c1c1;
    display: inline-block;
    font-size: 30px;
    margin: 0 0 35px;
    text-transform: uppercase;
}
.cart_totals table{
    border: medium none;
    float: right;
    margin: 0;
    text-align: right;
}
.cart_totals table th{
    border: medium none;
    font-size: 14px;
    font-weight: bold;
    padding: 0 20px 12px 0;
    text-align: right;
    text-transform: uppercase;
    vertical-align: top;
}
.cart_totals table td{
    border: medium none;
    padding: 0 0 12px;
    vertical-align: top;
}
.cart_totals table td .amount {
    color: #252525;
    float: right;
    font-size: 13px;
    font-weight: bold;
    margin-left: 5px;
    text-align: right;
    text-transform: uppercase;
}
.cart_totals table td ul#shipping_method{
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.cart_totals table td ul#shipping_method li{
    float: left;
    margin: 0 0 10px;
    padding: 0;
    text-indent: 0;
    width: 100%;
}
.cart_totals table td ul#shipping_method li input{
    margin: 0;
    position: relative;
    top: 2px;
}
a.shipping-calculator-button{
    font-weight: bold;
    color: #6f6f6f;
}
a.shipping-calculator-button:hover{
    color:#ff4136
}
.cart_totals table tr.order-total th,
.cart_totals table tr.order-total .amount{
    font-size: 20px;
    text-transform: uppercase;
    white-space: nowrap;
}
.wc-proceed-to-checkout a{
    background: #252525 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
    padding: 0 30px;
    text-transform: none;
}
.wc-proceed-to-checkout a:hover{
    background: #ff4136;
    color: #fff !important;
}
.owl-theme .owl-controls .owl-page span {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #c1c1c1;
    border-radius: 100%;
    display: block;
    height: 13px;
    margin: 3px;
    width: 13px;
    transition: 0.3s;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    border: 2px solid #c1c1c1;
}
.slider-area.slider-v4 {
    margin: 30px 0 35px 0;
}
.coupon p {
    margin-bottom: 12px;
}

.buttons-cart--inner {
    margin-bottom: 70px;
}
.ht__coupon__code {
    background: #ebebeb none repeat scroll 0 0;
    padding: 54px 70px;
}
.ht__coupon__code span {
    color: #3f3f3f;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}
.coupon__box {
    margin-top: 19px;
    position: relative;
}
.coupon__box input {
    background: #ffffff none repeat scroll 0 0;
    border: 0 none;
    height: 56px;
    padding: 0 30px;
}
.ht__cp__btn {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}
.ht__cp__btn a {
    background: #212121 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 56px;
    line-height: 56px;
    padding: 0 27px;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
}
.ht__cp__btn a:hover {
    background: #c43b68 none repeat scroll 0 0;
}
.htc__cart__total h6 {
    background: #c43b68 none repeat scroll 0 0;
    font-size: 14px;
    font-weight: 500;
    height: 67px;
    line-height: 65px;
    padding: 0 32px;
    text-transform: uppercase;
    color: #fff;
}
.cart__total {
    border-top: 1px solid #ebebeb;
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
}
.cart__total span {
    color: #3f3f3f;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
.payment__btn {
    margin-top: 54px;
}
.payment__btn li a {
    background: #ebebeb none repeat scroll 0 0;
    color: #3f3f3f;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    height: 65px;
    line-height: 65px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
}
.payment__btn li + li {
    margin-top: 15px;
}
.payment__btn li a:hover,
.payment__btn li.active a {
    background: #212121 none repeat scroll 0 0;
    color: #fff;
}
.payment__btn li.active a:hover{
  background: #ebebeb;
  color: #3f3f3f;
}
.htc__cart__total {
    padding-left: 110px;
}

.cart__desk__list {
    display: flex;
    justify-content: space-between;
}
.cart__desc li {
    color: #3f3f3f;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
.cart__desk__list {
    margin-bottom: 33px;
    margin-top: 38px;
}
.cart__desc li + li {
    padding-top: 18px;
}
.cart__price li + li {
    padding-top: 18px;
}
.cart__price li {
    color: #3f3f3f;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.product-name .pro__prize {
    margin-top: 4px;
}





/* Stilovi za checkout.php placanje */
.accordion .accordion__title{
    background: #f4f4f4;
    height: 65px;
    line-height: 65px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: "Poppins";
    cursor: pointer;
}
.accordion .accordion__title:before{
    content: "\f278";
    font-family: 'Material-Design-Iconic-Font';
    display: inline-block;
    padding-right: 10px;
    transition: all 0.3s ease-in-out 0s;
}
.accordion .accordion__title.active:before{
    content: "\f273";
}
.accordion .accordion__body{
    padding-top: 20px;
    padding-bottom: 30px;
}





/* informacije za slanje */
.bilinfo .single-input,
.paymentinfo-credit-content .single-input,
.shipinfo .single-input{
    margin-top: 20px;
}
.bilinfo .single-input.mt-0,
.paymentinfo-credit-content .single-input.mt-0,
.shipinfo .single-input.mt-0{
    margin-top: 0px;
}
.bilinfo .single-input input,
.shipinfo .single-input input,
.paymentinfo-credit-content .single-input input,
.bilinfo .single-input select,
.paymentinfo-credit-content .single-input select,
.shipinfo .single-input select{
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    font-family: "poppins";
    transition: all 0.3s ease-in-out 0s;
    border: 1px solid #888;
}
.bilinfo .single-input input:focus,
.shipinfo .single-input input:focus,
.paymentinfo-credit-content .single-input input:focus,
.bilinfo .single-input select:focus,
.shipinfo .single-input select:focus,
.paymentinfo-credit-content .single-input select:focus,
.bilinfo .single-input select:active,
.paymentinfo-credit-content .single-input select:active,
.shipinfo .single-input select:active{
    outline: none;
    border: 1px solid #c43b68;
}


/* stilovi za chekout.php */
.shipinfo__title{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 15px;
}
.shipinfo p{
    font-family: "Poppins";
}
.shipinfo .ship-to-another-trigger{
    display: inline-block;
    margin-top: 20px;
    font-family: "Poppins";
    font-size: 16px;
}
.shipinfo .ship-to-another-trigger i.zmdi{
    padding-right: 5px;
}

.ship-to-another-content{
    display: none;
    margin-top: 30px;
}


/* stilovi za checkout.php */
.shipmethod .single-input{
    margin-top: 20px;
}
.shipmethod .single-input:first-child{
    margin-top: 0px;
}
.shipmethod .single-input label{
    font-family: "Poppins";
    color: #3333;
    font-weight: 500;
}
.paymentinfo .single-method a i.zmdi{
    padding-right: 5px;  
}
.paymentinfo .single-method a{
    display: inline-block;
    margin-top: 15px;
    font-family: "Poppins";
    font-size: 16px;
}

.paymentinfo-credit-content{
    margin-top: 30px;
    display: none;
}

/* detalji postarine */
.order-details{
    background: #f4f4f4;
}
.order-details .order-details__title{
    padding: 30px 0;
    margin: 0 15px;
    border-bottom: 1px solid #ebebeb;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    font-family: "poppins";
    font-size: 16px;
    font-weight: 600;
    color: #3f3f3f;
}
.order-details .order-details__item{
    padding: 15px 0;
    margin: 0 30px;
    border-bottom: 1px solid #ebebeb;
}
.order-details .order-details__item .single-item{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    padding: 5px;
}
.order-details .order-details__item .single-item .single-item__content{
    flex-grow: 2;
}
.order-details .order-details__item .single-item .single-item__content a{
    font-size: 16px;
    font-family: "OldStandardTT";
    letter-spacing: 1px;
    color: #666;
    transition: all 0.3s ease-in-out 0s;
}
.order-details .order-details__item .single-item .single-item__content a:hover{
    color: #0c00b6;
}
.order-details .order-details__item .single-item .single-item__content span{
    font-family: "Poppins";
    font-weight: 600;
    display: block;
}
.order-details .order-details__item .single-item .single-item__thumb{
    text-align: center;
    width: 60px;
    overflow: hidden;
    margin-right: 20px;
}
.order-details .order-details__item .single-item .single-item__remove{
    width: 35px;
    text-align: center;
    font-size: 22px;
    color: #212121;
}
.order-details .order-details__item .single-item .single-item__remove a:hover{
    color: #f10;
}
.order-details .order-details__count{
    margin: 0 30px;
    padding: 15px 0;
    border-bottom: 1px solid #ebebeb;
}
.order-details .order-details__count .order-details__count__single{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    padding: 5px 0;
}
.order-details .order-details__count .order-details__count__single h5{
    color: #3f3f3f;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
}
.order-details .order-details__count .order-details__count__single span.price{
    width: 30%;
    text-align: left;
    font-weight: 600;
    font-family: "Poppins";
}
.order-details .ordre-details__total{
    margin: 0 30px;
    padding: 30px 0;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
}
.order-details .ordre-details__total h5{
    color: #3f3f3f;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 700;
}
.order-details .ordre-details__total span.price{
    width: 30%;
    text-align: left;
    font-weight: 700;
    font-family: "Poppins";
    letter-spacing: 1px;
}


/* dugmad */
.dark-btn a{
    display: inline-block;
    height: 45px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    background: #212121;
    color: #ffffff;
    font-family: "Poppins";
    padding: 0 45px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 16px;
    transition: all 0.3s ease-in-out 0s;
}
.dark-btn a:hover{
    background: #c43b68;
}

.slider__activation__wrap--5.slick-initialized.slick-slider {
    margin-left: -20px;
    margin-right: -20px;
}
/*New Code*/

.box__layout {
    margin: 0 90px;
}
.ht__cat__thumb a img {
    width: 100%;
}
.slick-initialized .slick-slide {
    outline: none;
}



